USE [Employment]
GO
/****** Object:  Table [dbo].[Ai_Analysis]    Script Date: 4/23/2026 3:44:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ai_Analysis](
	[Ai_Id] [int] IDENTITY(1,1) NOT NULL,
	[App_Id] [int] NOT NULL,
	[ParsedSkills] [nvarchar](max) NOT NULL,
	[Matching_Score] [numeric](5, 2) NOT NULL,
	[SkillsScore] [decimal](5, 2) NOT NULL,
	[ExperienceScore] [decimal](5, 2) NOT NULL,
	[SalaryScore] [decimal](5, 2) NOT NULL,
	[EducationScore] [decimal](5, 2) NOT NULL,
	[Strengths] [nvarchar](max) NOT NULL,
	[Weaknesses] [nvarchar](max) NOT NULL,
	[Summary] [nvarchar](max) NOT NULL,
	[InterviewQuestions] [nvarchar](max) NOT NULL,
	[GapReport] [nvarchar](max) NOT NULL,
	[DetectedLanguage] [nvarchar](50) NOT NULL,
	[AnalysisDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Ai_Analysis] PRIMARY KEY CLUSTERED 
(
	[Ai_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application]    Script Date: 4/23/2026 3:44:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[AppId] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[ExpectedSalary] [decimal](18, 2) NOT NULL,
	[YearsOfExperience] [int] NOT NULL,
	[EducationLevel] [nvarchar](100) NOT NULL,
	[CVFileName] [nvarchar](256) NOT NULL,
	[CVText] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[SubmittedAt] [datetime] NOT NULL,
 CONSTRAINT [Unique_JobId] PRIMARY KEY CLUSTERED 
(
	[AppId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Skill]    Script Date: 4/23/2026 3:44:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Skill](
	[Skill_Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[SkillName] [nvarchar](100) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[ImportantLevel] [int] NOT NULL,
	[MinYearsOfExperience] [int] NOT NULL,
 CONSTRAINT [PK_Job_Skill] PRIMARY KEY CLUSTERED 
(
	[Skill_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 4/23/2026 3:44:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
	[SalaryMin] [decimal](18, 2) NULL,
	[SalaryMax] [decimal](18, 2) NULL,
	[MinExperience] [int] NOT NULL,
	[RequiredEducation] [nvarchar](200) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill_Synonyms]    Script Date: 4/23/2026 3:44:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill_Synonyms](
	[SkillSynonymId] [int] IDENTITY(1,1) NOT NULL,
	[Main_Skill_Name] [nvarchar](100) NOT NULL,
	[Synonym_Skill] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Skill_Synonyms] PRIMARY KEY CLUSTERED 
(
	[SkillSynonymId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[System_Settings]    Script Date: 4/23/2026 3:44:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System_Settings](
	[Setting_Key] [nvarchar](100) NOT NULL,
	[Setting_value] [nvarchar](max) NOT NULL,
	[Setting_Description] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_System_Sitting] PRIMARY KEY CLUSTERED 
(
	[Setting_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/23/2026 3:44:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Application] ON 

INSERT [dbo].[Application] ([AppId], [JobId], [UserId], [Phone], [ExpectedSalary], [YearsOfExperience], [EducationLevel], [CVFileName], [CVText], [Status], [SubmittedAt]) VALUES (0, 1, 3, N'0790000001', CAST(850.00 AS Decimal(18, 2)), 2, N'Bachelor', N'CV_Butheinah.pdf', N'Expert in Python and Django development...', N'Pending', CAST(N'2026-04-23T15:35:11.150' AS DateTime))
INSERT [dbo].[Application] ([AppId], [JobId], [UserId], [Phone], [ExpectedSalary], [YearsOfExperience], [EducationLevel], [CVFileName], [CVText], [Status], [SubmittedAt]) VALUES (1, 3, 4, N'0780000002', CAST(1200.00 AS Decimal(18, 2)), 5, N'Master', N'CV_Mahmoed.pdf', N'Experienced in Agile and Team Leadership...', N'Pending', CAST(N'2026-04-23T15:35:11.150' AS DateTime))
INSERT [dbo].[Application] ([AppId], [JobId], [UserId], [Phone], [ExpectedSalary], [YearsOfExperience], [EducationLevel], [CVFileName], [CVText], [Status], [SubmittedAt]) VALUES (2, 4, 5, N'0770000003', CAST(700.00 AS Decimal(18, 2)), 2, N'Bachelor', N'CV_Assaf.pdf', N'Specialized in Manual and Automation Testing...', N'Pending', CAST(N'2026-04-23T15:35:11.150' AS DateTime))
SET IDENTITY_INSERT [dbo].[Application] OFF
GO
SET IDENTITY_INSERT [dbo].[Job_Skill] ON 

INSERT [dbo].[Job_Skill] ([Skill_Id], [JobId], [SkillName], [IsRequired], [ImportantLevel], [MinYearsOfExperience]) VALUES (4, 1, N'Python', 1, 5, 2)
INSERT [dbo].[Job_Skill] ([Skill_Id], [JobId], [SkillName], [IsRequired], [ImportantLevel], [MinYearsOfExperience]) VALUES (5, 1, N'Django', 1, 5, 1)
INSERT [dbo].[Job_Skill] ([Skill_Id], [JobId], [SkillName], [IsRequired], [ImportantLevel], [MinYearsOfExperience]) VALUES (6, 1, N'SQL Server', 1, 4, 2)
SET IDENTITY_INSERT [dbo].[Job_Skill] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([JobId], [Title], [Description], [Department], [Location], [SalaryMin], [SalaryMax], [MinExperience], [RequiredEducation], [Status], [CreatedBy], [CreatedAt]) VALUES (1, N'Backend Developer', N'Developing server-side logic and databases.', N'IT', N'Remote', NULL, NULL, 2, N'Bachelor', N'Open', 1, CAST(N'2026-04-23T15:05:05.700' AS DateTime))
INSERT [dbo].[Jobs] ([JobId], [Title], [Description], [Department], [Location], [SalaryMin], [SalaryMax], [MinExperience], [RequiredEducation], [Status], [CreatedBy], [CreatedAt]) VALUES (2, N'Frontend Developer', N'Creating interactive user interfaces.', N'IT', N'Amman', NULL, NULL, 1, N'Bachelor', N'Open', 1, CAST(N'2026-04-23T15:05:05.700' AS DateTime))
INSERT [dbo].[Jobs] ([JobId], [Title], [Description], [Department], [Location], [SalaryMin], [SalaryMax], [MinExperience], [RequiredEducation], [Status], [CreatedBy], [CreatedAt]) VALUES (3, N'Project Manager', N'Overseeing project timelines.', N'Management', N'Dubai', NULL, NULL, 5, N'Master', N'Open', 1, CAST(N'2026-04-23T15:05:05.700' AS DateTime))
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Skill_Synonyms] ON 

INSERT [dbo].[Skill_Synonyms] ([SkillSynonymId], [Main_Skill_Name], [Synonym_Skill]) VALUES (1005, N'HyperText Markup Language', N'HTML')
INSERT [dbo].[Skill_Synonyms] ([SkillSynonymId], [Main_Skill_Name], [Synonym_Skill]) VALUES (1006, N'JavaScript', N'JS')
INSERT [dbo].[Skill_Synonyms] ([SkillSynonymId], [Main_Skill_Name], [Synonym_Skill]) VALUES (1007, N'MS SQL Server', N'SQL')
SET IDENTITY_INSERT [dbo].[Skill_Synonyms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (1, N'Farah Atef', N'farahatef@gmail.com', N'pass123', N'Admin', CAST(N'2026-04-23T12:25:03.760' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (2, N'Nagham Atef', N'naghamatef@gmail.com', N'pass123', N'HR', CAST(N'2026-04-23T12:25:03.760' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (3, N'Butheinah Atef', N'butheinahatef@gmail.com', N'pass123', N'Applicant', CAST(N'2026-04-23T12:25:03.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Ai_Analysis] ADD  CONSTRAINT [DF_Ai_Analysis_AnalysisDate]  DEFAULT (getdate()) FOR [AnalysisDate]
GO
ALTER TABLE [dbo].[Application] ADD  CONSTRAINT [DF_Applicant_Status]  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Application] ADD  CONSTRAINT [DF_Applicant_SubmittedAt]  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Job_Skill] ADD  CONSTRAINT [DF_Job_Skill_IsRequierd]  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[Job_Skill] ADD  CONSTRAINT [DF_Job_Skill_ImportantLevel]  DEFAULT ((1)) FOR [ImportantLevel]
GO
ALTER TABLE [dbo].[Job_Skill] ADD  CONSTRAINT [DF_Job_Skill_MinYearsOfExperience]  DEFAULT ((0)) FOR [MinYearsOfExperience]
GO
ALTER TABLE [dbo].[Jobs] ADD  CONSTRAINT [DF_Jobs_MinExperience]  DEFAULT ((0)) FOR [MinExperience]
GO
ALTER TABLE [dbo].[Jobs] ADD  CONSTRAINT [DF_Jobs_Status]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Jobs] ADD  CONSTRAINT [DF_Jobs_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Created At]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Ai_Analysis]  WITH CHECK ADD  CONSTRAINT [FK_Ai_Anaylsis_application] FOREIGN KEY([Ai_Id])
REFERENCES [dbo].[Ai_Analysis] ([Ai_Id])
GO
ALTER TABLE [dbo].[Ai_Analysis] CHECK CONSTRAINT [FK_Ai_Anaylsis_application]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Applications] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Jobs_Applications]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Users_Application] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Users_Application]
GO
ALTER TABLE [dbo].[Job_Skill]  WITH CHECK ADD  CONSTRAINT [FK_Job_Skill_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job_Skill] CHECK CONSTRAINT [FK_Job_Skill_Jobs]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Users]
GO
ALTER TABLE [dbo].[Ai_Analysis]  WITH CHECK ADD  CONSTRAINT [CK_Ai_Analysis] CHECK  (([Matching_Score]>=(0) AND [Matching_Score]<=(100)))
GO
ALTER TABLE [dbo].[Ai_Analysis] CHECK CONSTRAINT [CK_Ai_Analysis]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [Expected_Salary_Positive] CHECK  (([ExpectedSalary]>(0)))
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [Expected_Salary_Positive]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [The_AllwoedStatesOf_Applicaintreequest] CHECK  (([Status]='AutoRejected' OR [Status]='Rejected' OR [Status]='Shortlisted' OR [Status]='Screening' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [The_AllwoedStatesOf_Applicaintreequest]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [Years_OfExperince_Positive] CHECK  (([YearsOfExperience]>=(0)))
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [Years_OfExperince_Positive]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [Positive_MinExperince] CHECK  (([MinExperience]>=(0)))
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [Positive_MinExperince]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [Positive_SalaryMax] CHECK  (([SalaryMax]>=(0)))
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [Positive_SalaryMax]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [Positive_SalaryMin] CHECK  (([SalaryMin]>=(0)))
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [Positive_SalaryMin]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [The_StatusOfJob] CHECK  (([Status]='Open' OR [Status]='Closed'))
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [The_StatusOfJob]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Email_Format] CHECK  (([Email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Email_Format]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Email_NoSpace] CHECK  ((NOT [Email] like '% %'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Email_NoSpace]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Applicant' OR [Role]='HR' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [PasswordHash_NotEmpty] CHECK  ((len(ltrim(rtrim([PasswordHash])))>(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [PasswordHash_NotEmpty]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'(len(ltrim(rtrim([PasswordHash])))>(0))' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'CONSTRAINT',@level2name=N'PasswordHash_NotEmpty'
GO
